@font-face{
    font-family: corisandeLight;
    src: url(corisande_light.ttf);
}
body {
    font-family: corisandeLight, Arial, Helvetica, sans-serif;
    background: rgba(92, 53, 122, 0.082);
}

a:hover {
    cursor: pointer;
}
@keyframes enter{
    from{
        bottom: -10px;
        opacity: 0
    }to{
        bottom: 0;
        opacity: 1
    }
}
.ng-enter{
    position: relative;
    animation: enter;
    animation-duration: 0.3s
}
main.container {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

}
.main-nav{
    position: fixed;
    width: 100%;
    margin-top: -35px; 
    z-index: 10;
}
.main-view{
    margin-top: 35px; 
    position: relative;
}
header.container {
    padding: 0;
    background: white;
}

main.container {
    background: white;
}

.main-logo {
    width: 170px;
    margin-top: -8px;
}

.title_bar {
    position: relative;
    height: 35px;
    background-color: white;
    text-shadow: none !important;
    font-weight: normal;
    text-align: center;
    padding: 8px;
}
.title_bar a{
    color:#5E2187 !important
}
.title_bar a:hover{
    text-decoration: none
}
.title_bar > span{
    position: absolute;
    left: 15px;
}

.landing-button{
    display: block;
    text-align: center;
    padding: 15px;
    color: white;
    background: #5E2187;
    width: 100%;
    margin-bottom: 10px;
}
.landing-button:hover{
    color: white;
    text-decoration: none;
}
.banner_nav_wrapper {
    height: 35px;
    /* Rectangle 8: */
    background-image: linear-gradient(-171deg, #EEEEEE 0%, #D8D8D8 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
    position: relative;
    padding-right: 0;
}

.banner_nav {
    list-style: none;
    padding-left: 0;
}

.banner_nav li {
    display: inline-block;
}

.banner_nav li a {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 9px 0px;
    display: block;
    color: #5E2187
}

.apply_now {
    /* Rectangle 7: */
    position: relative;
    background-image: linear-gradient(-167deg, #9745BC 0%, #5E2187 99%);
    border-radius: 4px;
    color: white !important;
    width: auto !important
}

.apply_now a {
    color: white !important;
    padding: 10px !important;
    font-weight: normal;
    text-shadow: none;
}
.apply--header{
    top: -18px;
}
.apply--footer{
    margin-bottom: 20px;
    padding: 15px;
}
h2,
h3,
h4 {
    color: #5E2187
}

.grey {
    /* Rectangle 10: */
    background: #F1F1F1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
}
.bank_name{
    padding: 20px;
}
.footer_links a {
    font-size: 12px;/* WEBSITE TERMS OF USE: */
    font-family: ArialMT;
    font-size: 11px;
    color: #9A9A9A;
    letter-spacing: 0.01px;
    margin: 5px;
}