<div class="wrapper">
    <form id="loginform" class="login">
        <p class="title">Administrator Log in</p>
        <div class="alert alert-danger" ng-if="lc.loginError" role="alert">{{ lc.loginErrorMessage }}</div>
        <input required type="text" data-ng-model="lc.username" id="username" name="username" placeholder="Username" autofocus/>
        <i class="fa fa-user"></i>
        <input required type="password" data-ng-model="lc.password" id="password" name="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <button ng-click="lc.login()">
            <i class="spinner"></i>
            <span class="state"></span>Log in</span>
        </button>
    </form>
</div>