<main class="container" style="background: white !important; padding-top: 25px; height: 100vh">
    <div class="jumbotron text-center">
        <div class="loader-custom loaded-success">
            <div class="awkward-spinning-circle">
                <div class="eye-left"></div>
                <div class="eye-right"></div>
            </div>
            <h3>
                Welcome to the Steward Bank portal.
                <br>
                <small>What would you like to do?</small>
            </h3>
        </div>
    </div>
    <div>
        <div class="row text-center" ng-if="!hc.isAuthenticated()">
            <div class="col-sm-6">
                <a class="landing-button" ui-sref="login">
                    Login
                </a>
            </div>
        </div>
        <div class="row text-center" ng-if="hc.isAuthenticated()">
            <div class="col-sm-6">
                <a class="landing-button" ui-sref="register.intro">
                    I want to register a new account
                </a>
            </div>
            <div class="col-sm-6">
                <a class="landing-button" ui-sref="admin">
                    Visit the admin panel
                </a>
            </div>
        </div>
    </div>
</main>