<div class="wrapper">
    <form id="loginform" class="login">
      <p class="title">Agent Log in</p>
      <input required type="text" data-ng-model="username" id="username" name="username" placeholder="Username" autofocus/>
      <i class="fa fa-user"></i>
      <input required type="password" data-ng-model="username" id="password" name="password" placeholder="Password" />
      <i class="fa fa-key"></i>
      <button>
        <i class="spinner"></i>
        <span class="state" ng-click="signup()">Create Account</span>
      </button>
    </form>
  </div>