    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>iAccount - Everday Banking for Everyday People</h2>
                <p>The Steward Bank iAccount is a revitalised personal current account bundled with other Econet group products
                    to offer a unique value proposition to you, the customer, while retaining the basic features of a current
                    Account
                </p>
            </div>
        </div>
        <div class="row  grey">
            <div class="col-sm-6 container-fluid ">
                <h3>Benefits and Features</h3>
                <p>
                    <ul>
                        <li>No minimum balance</li>
                        <li>No credit interest</li>
                        <li>Debit interest - PLR plus 10% margin</li>
                        <li>Withdrawal Fee - 1% of minimum amount $5</li>
                        <li>Monthly maintenance fee - $5</li>
                        <li>Steward Bank proprietory card</li>
                        <li>Access to Internet Banking</li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-6 container-fluid">
                <h3>Customers also have access to the following:</h3>
                <ul>
                    <li>FREE Funeral Cover of $500 (as llong as the account stays active)</li>
                    <li>Automatic registration on EcoCash Banking Services</li>
                    <li>Access to EcoCash loans and other Econet group services.</li>
                    <li>Access to the MasterCard debit card</li>
                    <li>Option to add-on other Econet group products such as Steward Health, EcoSure Auto, Connected Car, Credit
                        Cards, etc.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h3>Before you apply online...</h3>
                <h4>You will need:</h4>
                <ul>
                    <li>
                        A scanned digital copy of your
                        <strong>National I.D.</strong>
                    </li>
                    <li>
                        A scanned digital copy of your
                        <strong>proof of residence.</strong>
                    </li>
                    <li>
                        A digital
                        <strong>headshot image</strong>
                    </li>
                </ul>
                <button class="apply_now apply--footer">
                    <a ui-sref="register.step1" ng-click="rc.width = '25%'">Apply Online Now</a>
                </button>

            </div>
            <div class="col-sm-5">
                <br>
                <p>
                    <a href="#">Want to apply later? Download an Application Form</a>
                </p>
            </div>
        </div>
    </main>
</div>